<div class="dashboard">

	<div class="box">
		<h2>Tournaments</h2>

		{{#noResult}}
			<div class="noResult">
				There is no tournament created - please add a tournament using the button on the right side
			</div>
		{{/noResult}}

		<div class="tournament new hidden">
			<input name="name" value="" data-controller="Dashboard/save" />
		</div>


		{{#tournaments}}
			<div class="tournament">
				<h3 data-id="{{id}}" data-controller="Dashboard/open">{{name}}</h3>
				<a class="button delete" data-id="{{id}}" data-controller="Dashboard/delete">delete</a>
			</div>
		{{/tournaments}}

	</div>
	<div class="buttons">
		<a class="button green" data-controller="Dashboard/addTournament">Add Tournament</a>
	</div>
</div>